.profile_container {
    width: 50%;
    height: 40%;
}

.profile_container .form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.profile_container form button {
    background-color: #3F51B5;
    border: none;
    color: white;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}